*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


/* COLORES:
#F2F2F2 blanco
#ADB3B1 gris
#272829 negro
#EAC050 amarillo*/


body{background-color: #F2F2F2 ;}


/* --------HEADER---------- */

/* Imágen de fondo */

header{
    background-color: #ADB3B1 ;
    background-image: url(../assets/img/header.jpg);
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Título */

header h1{
    color: #272829;
    text-align: center;
    font-size: 13.75rem;
    font-family: 'Black Ops One', cursive;
}

/* Menú de navegación */

.navbar{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 100px}


.nav-words{
    text-decoration: none;
    color: #272829;
    font-size: 2.8125rem;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
}
/* ----------MAIN---------- */

/* Barra de noticias en index*/

.articulo{
    background-color: #272829 ;
    text-decoration: none;
    height: 6.875rem;

}
article a{
    text-decoration: none;
    color: #EAC050;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.125rem;
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
}

/* Títulos de todas las pages*/

.titulos{
background-color: #272829;
color: #F2F2F2;
height: 6.875rem;
text-align: center;
font-size: 5rem;
font-family: 'Black Ops One', cursive;
letter-spacing: .625rem;
padding-top: .625rem;
}

/* Contenido Inicio*/

.contenedor{
    display: flex;
    align-items: center;
    margin-top: 3.125rem;
    margin-left: 1.25rem;
}

.titulo-contenedor{
    font-family: 'Black Ops One', cursive;
    color: #272829;
    text-align: center;
    font-size: 5.625rem;
    text-decoration: underline;
}

.contenedor div p{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    text-align: center;
    font-size: 3.125rem
}

/* Contenido Productos */

.merchandising{
    display: flex;
    background-color: #ADB3B1;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
}

.card{
    border-width: .3125rem;
    border-color: #272829;
    border-style:groove;
}

.card-body{
    font-family: 'Archivo Black', sans-serif;
}

.form{
    margin-top: 3.125rem;
}

.tipo-datos{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    text-align: center;
    font-size: 2.8125rem;
    margin-left: 1.25rem;
}

.datos{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    text-align: left;
    font-size: 1.5625rem;
    margin-top: 1.875rem;
}


/* Contenido Singles */

.titulo-video{
    font-family: 'Black Ops One', cursive;
    color: #272829;
    text-align: left;
    font-size: 1.5625rem;
    margin-top: 1.875rem;
}

.videos{
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
}

.texto-video{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    text-align: center;
    font-size: 1.875rem;
    margin-left: 1.25rem;
}

.spotify{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    text-align: left;
    font-size: 2.8125rem;
    margin-left: 1.25rem;
    margin-top: 2.5rem;
}

/* Contenido Discografía */

.discos{
    display: flex;
    margin-top: 2.5rem;
    margin-left: 1.25rem;
}

.discos.gris{
    background-color: #ADB3B1;
}

.discos.negro{
    background-color: #272829;
}

.foto-discos{
    width: 31.25rem;
    height: 31.25rem;
}

.discos div h1{
    font-family: 'Black Ops One', cursive;
    color: #272829;
    font-size: 2.5rem;
    margin-left: 25rem}

.discos div ul{
    color: #272829;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.4375rem;
    margin-left: 25rem;
}

#letrablanca{
    color: #F2F2F2;
}

/* Contenido Miembros */

main section .foto-miembros{
    width: 100%;
    height: 100%;
    border-radius:100px;
}

.miembros{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(6, 37.5rem);
    grid-template-areas: 
    "zona1 zona2 zona2 zona2"
    "zona3 zona3 zona3 zona4"
    "zona5 zona6 zona6 zona6"
    "zona7 zona7 zona7 zona8"
    "zona9 zona10 zona10 zona10"
    "zona11 zona11 zona11 zona12";
}

.fotochester{
    grid-area: zona1;
    background-color: #F2F2F2;
}
.biochester{
    grid-area: zona2;
    background-color: #F2F2F2;
}

.fotomike{
    grid-area: zona4;
    background-color: #ADB3B1;
}
.biomike{
    grid-area: zona3;
    background-color: #ADB3B1;
}

.fotobrad{
    grid-area: zona5;
    background-color: #272829;
}
.biobrad{
    grid-area: zona6;
    background-color: #272829;
}

.fotorob{
    grid-area: zona8;
    background-color: #F2F2F2;
}
.biorob{
    grid-area: zona7;
    background-color: #F2F2F2;
}

.fotomr{
    grid-area: zona9;
    background-color: #ADB3B1;
}
.biomr{
    grid-area: zona10;
    background-color: #ADB3B1;
}

.fotophoenix{
    grid-area: zona12;
    background-color: #272829;
}
.biophoenix{
    grid-area: zona11;
    background-color: #272829;
}

.miembros div{
    text-align: center;
}

.miembros div h1{
    font-family: 'Black Ops One', cursive;
    color: #272829;
    font-size: 3.125rem;
}

.miembros div p{
    font-family: 'Archivo Black', sans-serif;
    color: #272829;
    font-size: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    }

#colorblanco h1{
        color: #F2F2F2;
    }

#colorblanco p{
        color: #F2F2F2;
    }

.miembros div button{
    margin-top: 2.8125rem;
}

.miembros div button a{
    background-color: #EAC050;
    color: #272829;
    font-family: 'Archivo Black', sans-serif;
    padding: .9375rem .9375rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-width: .3125rem;
    border-color: #272829;
    border-style:groove;
    border-radius: .625rem;
}

/* -----------------FOOTER---------------------- */

footer{
    background-color: #ADB3B1;
    margin-top: 1.5625rem;
    padding: 5rem;
}

.tamaño-logo{
    width: 8rem;
    height: 7rem;
}

.logos-redes{
    display: flex;
    justify-content: space-between;
}

    .nombre-logo{
        font-family: 'Black Ops One', cursive;
        color: black;
        font-size: 1.25rem;
    }
    
.logo-final{
    display: flex;
    justify-content: center;
}

.logo-final img{
    width: 15.625rem;
    height: 15.625rem;
    margin-top: 1.875rem;
}

/* ---------------MEDIA QUERIES---------------- */