/*Singles*/

@media (max-width: 550px){
    .titulos{
        display: none;
    }
    .titulo-video{
        font-size: .9375rem;
    }
    .spotify{
        display: none;
    }
    .videos{
        width: 25rem;
    }
    main div iframe{
        margin-top: .3125rem;
    }
}