/* Header e Index*/

@media (max-width: 450px){
    .titulo-contenedor{
        font-size: 2.1875rem;
    }
    .contenedor a img{
        width: 18.75rem;
    }
    .tamaño-logo{
        width: 3.125rem;
    }
    .logo-final img{
        width: 5.625rem;
    }
    .logoheader{
        width: 18.75rem;
    }
}