/*Index*/

@media (max-width: 700px){
    article{
        display: none;
    }
    header{
        border-style: groove;
        border-color: #272829;
    }
    .titulo-contenedor{
        font-size: 2.8125rem;
    }
    .contenedor{
        a{
            img{
                width: 25rem;
            }
        }
    }
    .tamaño-logo{
        width: 4.0625rem;
    }
    .logo-final{
        img{
            width: 6.875rem;
        }
    }
    .logoheader{
        width: 26.25rem;
    }
}


/*Productos*/

@media (max-width: 700px){
    .merchandising{
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }
    .card{
        margin: .9375rem;
    }
    .tipo-datos{
        padding-left: 1.25rem;
    }
    .datos{
        padding-left:3.125rem ;
        padding-right: 1.25rem;
    }
}


/*SIngles*/

@media (max-width: 700px){
    .titulos{
        font-size: 2.1875rem;
        height: 2.5rem;
    }
    .titulo-video{
        font-size: 1.5625rem;
    }
}



