@media (max-width: 1620px){
    .logoheader{
        width: 28.125rem;
    }
    .container-fluid{
        flex-direction: column;
    }
    .d-flex{
        margin-bottom: 1.25rem;
    }
}


@media (max-width: 1375px){
    .nav-link{
        font-size: 1.5625rem;
    }
    .titulo-contenedor{
        background-color: #272829;
        color: #EAC050;
    }
    .contenedor-negro{
        div{
            a{
                h1{
                    color: $amarillo;
                }
            }
        }
    }
    
}


@media (max-width: 1170px){
    .nav-link{
        font-size: 1.25rem;
    }
    .noticia{
        font-size: 1.875rem;
    }
    .titulo-contenedor{
        font-size: 2.8125rem ;
    }
    .contenedor{
        a{
            img{
            width: 25rem;
            }
        }
        div{
            p{
                font-size: 1.5625rem ;
            }
        }
    }
}


@media (max-width: 991px){
    .container-fluid{
        flex-direction: row;
    }
    #navbarSupportedContent{
        background-color: $negro;
        z-index: 2;
    }
    .nav-link{
        color: $blanco;
        padding-left: 1.25rem;
    }
}


@media (max-width: 870px){
    .noticia{
        font-size: 1.5625rem;
        padding-top: .625rem;
    }
    .contenedor{
        background-color: $blanco;
        flex-direction: column-reverse;
        a{
            img{
                width: 31.25rem;
            }
        }
        div{
            p{
                display: none;
            }
        }
    }
    .titulo-contenedor{
        margin-bottom: .3125rem;
        font-size: 3.4375rem;
    }
    .nombre-logo{
        display: none;
    }
}


@media (max-width: 700px){
    article{
        display: none;
    }
    header{
        border-style: groove;
        border-color: #272829;
    }
    .titulo-contenedor{
        font-size: 2.8125rem;
    }
    .contenedor{
        a{
            img{
                width: 25rem;
            }
        }
    }
    .tamaño-logo{
        width: 4.0625rem;
    }
    .logo-final{
        img{
            width: 6.875rem;
        }
    }
}


@media (max-width: 450px){
    .titulo-contenedor{
        font-size: 2.1875rem;
    }
    .contenedor a img{
        width: 18.75rem;
    }
    .tamaño-logo{
        width: 3.125rem;
    }
    .logo-final img{
        width: 5.625rem;
    }
}


@media (max-width: 360px){
    .titulo-contenedor{
        font-size: 1.875rem;
    }
    .contenedor{
        a{
            img{
                width: 17.5rem;
            }
        }
    }
}


@media (max-width: 320px){
    .titulo-contenedor{
        font-size: 1.5625rem;
    }
    
    .contenedor{
        a{
            img{
                width: 15.625rem;
            }
        }
    }
}


/* Responsive Singles */

@media (max-width: 1050px){
    .titulo-video{
        font-size:1.875rem;
    }
    .texto-video{
        font-size: 1.5625rem;
    }
    .spotify{
        font-size: 2.1875rem;
    }
}

@media (max-width: 900px){
    .texto-video{
        display: none;
    }
    .videos{
        margin-right: 1.25rem;
    }
    .titulos{
        font-size: 2.8125rem;
        height: 3.125rem;
    }
}

@media (max-width: 700px){
    .titulos{
        font-size: 2.1875rem;
        height: 2.5rem;
    }
    .titulo-video{
        font-size: 1.5625rem;
    }
}

@media (max-width: 550px){
    .titulos{
        display: none;
    }
    .titulo-video{
        font-size: .9375rem;
    }
    .spotify{
        display: none;
    }
    .videos{
        width: 25rem;
    }
    main div iframe{
        margin-top: .3125rem;
    }
}

@media (max-width: 440px){
    .videos{
        width: 14.375rem;
    }
}

@media (max-width: 320px){
    .titulo-video{
        font-size: .625rem ;
    }
    .spotify{
        font-size: 1.25rem;
    }
    .videos{
        margin-left: .5625rem;
    }
}


/* Responsive Merchandising */

@media (max-width: 700px){
    .merchandising{
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }
    .card{
        margin: .9375rem;
    }
    .tipo-datos{
        padding-left: 1.25rem;
    }
    .datos{
        padding-left:3.125rem ;
        padding-right: 1.25rem;
    }
}

@media (max-width: 370px){
    .form{
        height: 37.5rem;
    }
    .tipo-datos{
        font-size: 1.5625rem;
    }
    .datos{
        font-size: .9375rem;
        padding-left: 1.25rem;
    }
    .botmerch{
        width: 6.25rem;
        padding: .3125rem;
        font-size: .9375rem;
    }
}
