/*Singles*/

@media (max-width: 900px){
    .texto-video{
        display: none;
    }
    .videos{
        margin-right: 1.25rem;
    }
    .titulos{
        font-size: 2.8125rem;
        height: 3.125rem;
    }
}


/*Discografía*/

@media (max-width: 900px){
    .lista{
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        ul{
            display: none;
        }
    }
}