/*Navbar e Index*/

@media (max-width: 1375px){
    .nav-link{
        font-size: 1.5625rem;
    }
    .titulo-contenedor{
        background-color: #272829;
        color: #EAC050;
    }
    .contenedor-negro{
        div{
            a{
                h1{
                    color: $amarillo;
                }
            }
        }
    }
    
}


/*Discografía*/

@media (max-width: 1375px){
    .disco-blanco{
        flex-direction: column;
    }
    .spotialbum{
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        width: 100%;
    }
}