@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

@mixin typo{
    font-family: 'Archivo Black', sans-serif;
    color: $negro;
    font-size: 2.5rem;
}