.articulo{
    background-color: $negro ;
    text-decoration: none;
    height: 3.75rem;
    width: 100%;
}

.noticia{
    text-decoration: none;
    color: $amarillo;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.1875rem;
    display: flex;
    justify-content: center;
    padding-top: .3125rem;
}