.discos{
    display: flex;
    margin-top: 2.5rem;
    margin-left: 1.25rem;
    div{
        h1{
            font-family: 'Black Ops One', cursive;
            color: $negro;
            font-size: 2.5rem;
            margin-left: 25rem
        }
        ul{
            color: $negro;
            font-family: 'Archivo Black', sans-serif;
            font-size: 1.4375rem;
            margin-left: 25rem;
        }
    }
}

.foto-discos{
    width: 31.25rem;
    height: 31.25rem;
}

.discos.blanco{
    background-color: #F2F2F2;
}

.discos.gris{
    background-color: #ADB3B1;
}

.discos.negro{
    background-color: #272829;
}

#letrablanca{
    color: #F2F2F2;
}