.disco-blanco{
    @include flex;
    div{
        h1{
            @include typo;
            margin-left: 25rem
        }
        ul{
            color: $negro;
            font-family: 'Archivo Black', sans-serif;
            font-size: 1.4375rem;
            margin-left: 25rem;
        }
    }
}

.disco-gris{
    @extend .disco-blanco;
    background-color: map-get($map: $ColorFondo, $key: gris);
}

.disco-negro{
    @extend .disco-blanco;
        background-color: map-get($map: $ColorFondo, $key: negro);
        div{
            h1{
                color: $blanco;
            }
            ul{
                color: $blanco;
            }
        }
    
}















.foto-discos{
    width: 31.25rem;
    height: 31.25rem;
}
