.disco-blanco{
    @include flex;
    justify-content: space-between;
    div{
        h1{
            @include typo;
        }
        ul{
            color: $negro;
            font-family: 'Archivo Black', sans-serif;
            font-size: 1.4375rem;
        }
    }
}

.disco-gris{
    @extend .disco-blanco;
    background-color: map-get($map: $ColorFondo, $key: gris);
}

.disco-negro{
    @extend .disco-blanco;
        background-color: map-get($map: $ColorFondo, $key: negro);
        div{
            h1{
                color: $blanco;
            }
            ul{
                color: $blanco;
            }
        }
    
}

.foto-discos{
    width: 31.25rem;
    height: 31.25rem;
}

.hybrid{
    margin-right: 10rem;
}

.meteora{
    margin-right: 19.375rem;
}

.suns{
    margin-right: 5.9375rem;
}

.living{
    margin-right: 11.875rem;
}

.light{
    margin-right: 9.375rem;
}

.hunting{
    margin-right: 3.4375rem;
}

.spotialbum{
    width: 45.625rem;
}
