footer{
    background-color: $gris;
    border-style: groove;
    border-color: #272829;
    width: 100%;
}

.tamaño-logo{
    width: 5rem
}

.logos-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: .9375rem;
}

    .nombre-logo{
        font-family: 'Black Ops One', cursive;
        color: $negro;
        font-size: .9375rem;
    }
    
.logo-final{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-final img{
    width: 9.375rem;
}