.form{
    background-color: $negro;
}

.tipo-datos{
    font-family: 'Archivo Black', sans-serif;
    color: $blanco;
    text-align: center;
    font-size: 1.875rem;
    margin-top: 2.1875rem;
    margin-bottom: .9375rem;
}

.datos{
    font-family: 'Archivo Black', sans-serif;
    color: $blanco;
    text-align: center;
    font-size: 1.25rem;
}

.botmerch{
    background-color: $amarillo;
    padding: .5rem;
    color: $negro;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    border-radius: .625rem;
    margin-left: 56.25rem;
}
