.form{
    margin-top: 3.125rem;
}

.tipo-datos{
    font-family: 'Archivo Black', sans-serif;
    color: $negro;
    text-align: center;
    font-size: 2.1875rem;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.datos{
    font-family: 'Archivo Black', sans-serif;
    color: $negro;
    text-align: left;
    font-size: 1.25rem;
    margin-top: 1.875rem;
}

.botmerch{
    background-color: $negro;
    padding: .3125rem;
    color: $blanco;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 1.25rem;
    border-radius: .625rem;
    margin-left: 56.25rem;
}