.contenedor{
@include flex;
    a{
        img{
            width: 31.25rem;
        }
    }
    div{
        p{
            font-family: 'Archivo Black', sans-serif;
            color: $negro;
            text-align: center;
            font-size: 1.875rem
        }
    }
}

.titulo-contenedor{
    font-family: 'Black Ops One', cursive;
    color: #272829;
    text-align: center;
    font-size: 3.125rem;
    text-decoration: underline;
}

.contenedor-gris{
    @extend .contenedor;
    background-color: $gris;
}

.contenedor-negro{
    @extend .contenedor;
    background-color: $negro;
    div{
        a{
            h1{
                color: $blanco;
            }
        }
        p{
            color: $blanco;
        }
    }
}



