.foto-miembros{
    width: 100%;
    height: 100%;
}

.miembros{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(6, 31.25rem);
    grid-template-areas: 
    "zona1 zona2 zona2 zona2"
    "zona3 zona3 zona3 zona4"
    "zona5 zona6 zona6 zona6"
    "zona7 zona7 zona7 zona8"
    "zona9 zona10 zona10 zona10"
    "zona11 zona11 zona11 zona12";
    div{
        text-align: center;
        h2{
            @include typo;
        }
        p{
            font-family: 'Archivo Black', sans-serif;
            color: $negro;
            font-size: 1.5625rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        button{
            margin-top: 2.8125rem;
            a{
                background-color: map-get($map: $ColorFondo, $key: amarillo);
                color: $negro;
                font-family: 'Archivo Black', sans-serif;
                padding: .9375rem .9375rem;
                text-decoration: none;
                font-size: 1.25rem;
                border-width: .3125rem;
                border-color: $negro;
                border-style:groove;
                border-radius: .625rem;
            }
            }
        }
    }

.fotochester{
    grid-area: zona1;
}
.biochester{
    grid-area: zona2;
    background-color: map-get($map: $ColorFondo, $key: blanco);
}

.fotomike{
    grid-area: zona4;
}
.biomike{
    grid-area: zona3;
    background-color: map-get($map: $ColorFondo, $key: gris);
}

.fotobrad{
    grid-area: zona5;
}
.biobrad{
    grid-area: zona6;
    background-color: map-get($map: $ColorFondo, $key: negro);
}

.fotorob{
    grid-area: zona8;
}
.biorob{
    grid-area: zona7;
    background-color: map-get($map: $ColorFondo, $key: blanco);
}

.fotomr{
    grid-area: zona9;
}
.biomr{
    grid-area: zona10;
    background-color: map-get($map: $ColorFondo, $key: gris);
}

.fotophoenix{
    grid-area: zona12;
}
.biophoenix{
    grid-area: zona11;
    background-color: map-get($map: $ColorFondo, $key: negro);
}

#colorblanco{
    h2{
        color: #F2F2F2;
    }
    p{
        color: #F2F2F2;
    }
}