.titulo-video{
    font-family: 'Black Ops One', cursive;
    color: $negro;
    text-align: left;
    font-size: 1.5625rem;
    margin-top: 1.875rem;
}

.videos{
    @include flex
}

.texto-video{
    font-family: 'Archivo Black', sans-serif;
    color: $negro;
    text-align: center;
    font-size: 1.875rem;
    margin-left: 1.25rem;
}

.spotify{
    @include typo;
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 2.5rem;
}