.titulos{
    background-color: $negro;
    color: $blanco;
    height: 3.75rem;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 3.4375rem;
    letter-spacing: .9375rem;
    }